[access]
	inheritFrom = IP/SW/library
[access "refs/*"]
	owner = group user/Kostya Porotchkin (kostap)
[access "refs/heads/*"]
	create = group ldap/CFIUS_IP_SW_boot_integrators
	create = group user/Suneel Garapati (sgarapati)
	forgeAuthor = group ldap/CFIUS_IP_SW_boot_integrators
	forgeCommitter = group ldap/CFIUS_IP_SW_boot_integrators
	push = group ldap/CFIUS_IP_SW_boot_integrators
	pushMerge = group ldap/CFIUS_IP_SW_boot_integrators
	submit = group ldap/CFIUS_IP_SW_boot_integrators
	label-Verified = -1..+1 group ldap/CFIUS_IP_SW_boot_integrators
